In [1]:
#pip install psycopg2-binary

In [2]:
import psycopg2
import csv
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [3]:


# Параметры подключения к базе данных PostgreSQL
db_params = {
    'dbname': 'DBInmerso',
    'user': 'postgres',
    'password': 'postgres',
    'host': 'localhost',
    'port': '5432'
}

# Имя таблицы, которую вы хотите скачать

tables_to_save = ['usuarios', 'discapacidad', 'discapacidad', 'renta', 'patrimonio']
#'familia_numerosa','participacion', 'coche', 'tipo_trabajo', 'alquilar_piso'

# Подключение к базе данных
connection = psycopg2.connect(**db_params)

# Создание курсора
cursor = connection.cursor()


for table in tables_to_save:
    # Загрузка данных из таблицы в DataFrame
    sql_query = f"SELECT * FROM {table};"
    df = pd.read_sql_query(sql_query, connection)

    # Сохранение DataFrame в CSV-файл
    filename = f'{table}.csv'
    df.to_csv(filename, index=False)
    print(f'Data from table {table} saved to {filename}')

# Закрытие соединения
cursor.close()
connection.close()

Data from table usuarios saved to usuarios.csv
Data from table discapacidad saved to discapacidad.csv
Data from table discapacidad saved to discapacidad.csv
Data from table renta saved to renta.csv
Data from table patrimonio saved to patrimonio.csv

In [5]:

usuarios = pd.read_csv('usuarios.csv')
print(usuarios)

          dni      nombre    apellido  edad fecha_de_nacimiento  id_solicitud  \
0    95822412  Candelario     Huertas    73          1909-10-24            26
1    46913810      Anabel      Olmedo    77          1939-03-02           229
2    28728463      Ovidio      Azcona    73          1937-02-05           693
3    83197857   Godofredo      Arnaiz    72          1911-07-03           605
4    66629388    Cipriano     Colomer    71          1929-01-03            31
..        ...         ...         ...   ...                 ...           ...
995  82199509     Miguela  Villanueva    85          1928-03-30           247
996  40245233  Montserrat    Olivares    79          1912-09-03           879
997  29374563      Matías         Luz    84          1924-03-30           937
998  17734153     Abraham   Cervantes    87          1932-01-23           423
999  65902739       Isaac      Arjona    87          1909-07-23           543

     usuario_solicitante  oficio_especial
0                  False             True
1                  False            False
2                   True             True
3                  False             True
4                   True             True
..                   ...              ...
995                 True            False
996                False            False
997                False             True
998                 True            False
999                 True             True

[1000 rows x 8 columns]

In [9]:
# add score


for index, row in usuarios.iterrows():
    edad = row['edad']
    SCORE = 0
    if edad < 60:
        SCORE = 1
    elif edad == 60:
        SCORE = 2
    elif edad <= 78:
        SCORE = 2 + (edad - 60)
    else:
        SCORE = 20
    
    usuarios.at[index, 'score'] = SCORE

usuarios['score'] = usuarios['score'].astype(int)
print(usuarios)

          dni      nombre    apellido  edad fecha_de_nacimiento  id_solicitud  \
0    95822412  Candelario     Huertas    73          1909-10-24            26
1    46913810      Anabel      Olmedo    77          1939-03-02           229
2    28728463      Ovidio      Azcona    73          1937-02-05           693
3    83197857   Godofredo      Arnaiz    72          1911-07-03           605
4    66629388    Cipriano     Colomer    71          1929-01-03            31
..        ...         ...         ...   ...                 ...           ...
995  82199509     Miguela  Villanueva    85          1928-03-30           247
996  40245233  Montserrat    Olivares    79          1912-09-03           879
997  29374563      Matías         Luz    84          1924-03-30           937
998  17734153     Abraham   Cervantes    87          1932-01-23           423
999  65902739       Isaac      Arjona    87          1909-07-23           543

     usuario_solicitante  oficio_especial  Score  score
0                  False             True     15     15
1                  False            False     19     19
2                   True             True     15     15
3                  False             True     14     14
4                   True             True     13     13
..                   ...              ...    ...    ...
995                 True            False     20     20
996                False            False     20     20
997                False             True     20     20
998                 True            False     20     20
999                 True             True     20     20

[1000 rows x 10 columns]

In [10]:

discapacidad = pd.read_csv('discapacidad.csv')
print(discapacidad)

          dni  grado_dis
0    95822412          0
1    46913810          1
2    28728463          0
3    83197857          2
4    66629388          2
..        ...        ...
995  82199509          0
996  40245233          1
997  29374563          1
998  17734153          2
999  65902739          2

[1000 rows x 2 columns]

In [11]:
# add score


for index, row in discapacidad.iterrows():
    grado_dis = row['grado_dis']
    SCORE = 0
    if grado_dis == 1:
        SCORE = 10
    elif grado_dis == 2:
        SCORE = 15
    else:
        SCORE = 0
    
    discapacidad.at[index, 'Score'] = SCORE

discapacidad['Score'] = discapacidad['Score'].astype(int)
print(discapacidad)

          dni  grado_dis  Score
0    95822412          0      0
1    46913810          1     10
2    28728463          0      0
3    83197857          2     15
4    66629388          2     15
..        ...        ...    ...
995  82199509          0      0
996  40245233          1     10
997  29374563          1     10
998  17734153          2     15
999  65902739          2     15

[1000 rows x 3 columns]

In [ ]:
# renta

renta = pd.read_csv('renta.csv')

In [ ]:
# patrimonio

patrimonio = pd.read_csv('patrimonio.csv')