In [14]:
import psycopg2
import pandas as pd

dbname = "obqrzyqi"
user = "obqrzyqi"
password = "8PKTas-pu_I7k1Gjm0ofLxcejh6WqloY"
host = "berry.db.elephantsql.com"
port = "5432"


conn = None

try:
    conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

    # Ejemplo de consulta SELECT
    query = "SELECT * FROM usuarios"

    # Guarda los resultados en un dataframe 
    df = pd.read_sql_query(query, conn)

except psycopg2.Error as e:
    print("Error al conectar a la base de datos:", e)

finally:
    # Cerrar la conexión si está abierta
    if conn is not None:
        conn.close()
        
        
df

C:\Users\DELL\AppData\Local\Temp\ipykernel_11920\3858544113.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

,dni,nombre,apellido,edad,fecha_de_nacimiento,id_solicitud,usuario_solicitante
0,95822412,Jose Ramón,Mas,73,1941-05-21,26,95822412
1,46913810,Rafaela,Beltran,77,1915-04-25,229,46913810
2,28728463,Ximena,Leon,73,1937-07-16,693,28728463
3,83197857,Humberto,Gomila,72,1930-02-03,605,83197857
4,66629388,Andrés Felipe,Miranda,71,1919-01-20,31,66629388
...,...,...,...,...,...,...,...
995,82199509,Carmela,Fiol,85,1934-11-24,247,82199509
996,40245233,Rolando,Valdés,79,1937-02-12,879,40245233
997,29374563,Lupe,Pacheco,84,1915-10-20,937,29374563
998,17734153,Cayetana,Ballester,87,1923-07-06,423,17734153
999,65902739,Hector,Laguna,87,1917-08-29,543,65902739

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dni                  1000 non-null   object
 1   nombre               1000 non-null   object
 2   apellido             1000 non-null   object
 3   edad                 1000 non-null   int64
 4   fecha_de_nacimiento  1000 non-null   object
 5   id_solicitud         1000 non-null   int64
 6   usuario_solicitante  1000 non-null   object
dtypes: int64(2), object(5)
memory usage: 54.8+ KB